@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Cheque;
    src: url(../assets/fonts/Cheque/Cheque-Black.woff2) format("woff2");
  }
  @font-face {
    font-family: BebasNeue;
    src: url(../assets/fonts/BebasNeue/BebasNeue-Regular.ttf) format("truetype");
  }
}
